*{
    box-sizing: border-box;
}
$color-back: #eee;
$color-main: #218646;

body{
    padding-top: 20px;
    background: $color-back;
}
@for $i from 1 to 7 {
    h#{$i}{
        margin-bottom: 0;
    }
}
p{
    letter-spacing: 1px;
    text-align: justify;
    font-size: 12px;
    margin-bottom: 0;
}
hr{
    margin-top: 0;
    margin-bottom: 12px;
    height: 2px !important;
}

.text-color-main{
    color: $color-main;
}
.back-color-main{
    color: $color-main;
}
.carte-background{
    background: linear-gradient(0deg, #fff 70%, transparent 70%);
}

#carte{
    .headshot{
        $size: 120px;
        width: $size;
        height: $size;
        object-fit: cover;
        object-position: 50% 0%;
        border-radius: 50%;
        border: 3px solid $color-back;
    }
}


